<div class="vertical-menu">
	<nav>
		<ul>
			<li routerLinkActive="active"><a [routerLink]="['/dashboard']">Inicio </a></li>
			<li routerLinkActive="active"><a [routerLink]="['/maestros']">Maestros </a></li>
			<li routerLinkActive="active"><a [routerLink]="['/alumnos']">Alumnos </a></li>
			<li routerLinkActive="active"><a [routerLink]="['/grupos']">Grupos </a></li>
			<li routerLinkActive="active"><a [routerLink]="['/inscripcion']">Inscripcion</a></li>
			<li routerLinkActive="active"><a [routerLink]="['/logout']">Salir </a></li>
		</ul>
	</nav>
</div>